@import 'variables';

p {
  font-size: 2.8rem;
}

a {
  font-size: 2.4rem;
  font-weight: var(--weight-light);
  color: var(--color-brand);
  text-decoration: none;
  transition: 0.4s;
}

i {
  color: var(--color-primary);
}
