<main>
  <header>
    <div class="title-container">
      <h1 class="page-title">Contact Me</h1>
    </div>
  </header>
  <section>
    <p>Always interested in new projects:</p>
    <a href="mailto:tylerburkhardt4@gmail.com"><i class="fa fa-paper-plane">&nbsp;&nbsp;</i>tylerburkhardt4@gmail.com</a>

    <p>Check out what I'm currently working on:</p>
    <a href="https://github.com/tjb1019" target="_blank"><i class="fa fa-github">&nbsp;&nbsp;</i>https://github.com/tjb1019</a>
  </section>
</main>
