<main>
  <header>
    <div class="title-container">
      <h1 class="page-title">About Me</h1>
    </div>
  </header>
  <section>
    <p><span class="hl">Hey!</span> I'm Tyler Burkhardt.</p>
    <p>I'm a <span class="hl">Full-Stack Web Developer</span> residing in Federal Way, Washington. I currently
      ply my trade with <a href="https://stackpoint.io/" target="_blank">StackPointCloud</a>,
      a Seattle-based startup that focuses mostly on Kubernetes and other cloud-based technologies. I also do
      <span class="hl">freelance web design and development</span> for projects that I find interesting,
      challenging, or exciting.
    </p>
    <p>
      I like to work on things that help people and <span class="hl">make the world a better place</span>. I hope to someday
      apply my knowledge to the healthcare industry in some capacity.
    </p>
    <p>
      I've contributed to numerous <a routerLink="/projects">open-source projects</a>,
      and am always eager to help out a fellow developer. Please
      <a routerLink="/contact">contact me</a> if you would like to work on a project
      together, or just want to chat.
    </p>
    <p>
      When I'm not building things with computers, I love to spend time with my beautiful wife, Molly,
      <span class="hl">pick up heavy things and put them back down</span>, and annoy my neighbors with loud music.
      In the summer I like
      to <span class="hl">spend my time outdoors</span> as much as possible, barbeque with friends, and also do a bit of
      <span class="hl">international travel</span>.
      Recently, I've started tackling home improvement projects with moderate success.
    </p>
  </section>
</main>
