<main>
  <header>
    <div class="title-container">
      <h1 class="page-title">Technical</h1>
    </div>
  </header>
  <section>
    <div class="hash-container">
      <i class="fa fa-hashtag fa-4x"></i>
      <h2>Front End</h2>
    </div>
    <div class="item">
      <div class="lang">Javascript / Typescript</div>
      <div class="bar">
        <div class="bar-inner" style="width: 90%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">HTML</div>
      <div class="bar">
        <div class="bar-inner" style="width: 90%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">CSS</div>
      <div class="bar">
        <div class="bar-inner" style="width: 90%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">JWT</div>
      <div class="bar">
        <div class="bar-inner" style="width: 75%"></div>
      </div>
    </div>
    <div class="hash-container">
      <i class="fa fa-hashtag fa-4x"></i>
      <h2>Back End</h2>
    </div>
    <div class="item">
      <div class="lang">Node.js</div>
      <div class="bar">
        <div class="bar-inner" style="width: 75%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">Python</div>
      <div class="bar">
        <div class="bar-inner" style="width: 75%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">Ruby</div>
      <div class="bar">
        <div class="bar-inner" style="width: 50%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">Go</div>
      <div class="bar">
        <div class="bar-inner" style="width: 50%"></div>
      </div>
    </div>
    <div class="hash-container">
      <i class="fa fa-hashtag fa-4x"></i>
      <h2>Database</h2>
    </div>
    <div class="item">
      <div class="lang">MongoDB</div>
      <div class="bar">
        <div class="bar-inner" style="width: 75%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">Redis</div>
      <div class="bar">
        <div class="bar-inner" style="width: 75%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">PostgreSQL</div>
      <div class="bar">
        <div class="bar-inner" style="width: 50%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">Elasticsearch</div>
      <div class="bar">
        <div class="bar-inner" style="width: 25%"></div>
      </div>
    </div>
    <div class="hash-container">
      <i class="fa fa-hashtag fa-4x"></i>
      <h2>Technologies</h2>
    </div>
    <div class="item">
      <div class="lang">Angular</div>
      <div class="bar">
        <div class="bar-inner" style="width: 90%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">Express</div>
      <div class="bar">
        <div class="bar-inner" style="width: 75%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">Django</div>
      <div class="bar">
        <div class="bar-inner" style="width: 75%"></div>
      </div>
    </div>
    <div class="item">
      <div class="lang">Flask</div>
      <div class="bar">
        <div class="bar-inner" style="width: 75%"></div>
      </div>
    </div>
  </section>
</main>

