@import 'variables';

.hash-container {
  margin-top: 20px;

  &:nth-child(1) {
    margin-top: 0;
  }

  i {
    position: relative;
    top: -1rem;
    padding-right: 1rem;
    color: var(--color-subtle);
  }

  h2 {
    display: inline-block;
    margin: 2rem 0;
    font-size: 4rem;
    font-style: italic;
  }
}

.item {
  padding: 10px 0;

  .lang {
    padding-bottom: 5px;
    font-size: 2rem;
    font-weight: var(--weight-heavy);
  }

  .bar {
    height: 25px;
    width: 100%;
    background: var(--color-subtle);

    .bar-inner {
      height: 25px;
      background: var(--color-brand);
    }
  }
}
