<main>
  <header>
    <div class="title-container">
      <h1 class="page-title">Technical Qualifications</h1>
    </div>
  </header>
  <section>
    <div class="osx">
      <div class="osx-header">
        <div class="dot close"></div>
        <div class="dot minimize"></div>
        <div class="dot expand"></div>
      </div>
      <div class="osx-body">
        <div>
          <h2>Front End</h2>
          <ul>
            <li>Angular</li>
            <li>Javascript/Typescript</li>
            <li>HTML</li>
            <li>CSS/SASS</li>
            <li>JWT</li>
          </ul>
        </div>
        <div>
          <h2>Back End</h2>
          <ul>
            <li>Node.js</li>
            <li>Express</li>
            <li>Python</li>
            <li>Django</li>
            <li>Flask</li>
          </ul>
        </div>
        <div>
          <h2>Database</h2>
          <ul>
            <li>MongoDB</li>
            <li>Redis</li>
            <li>PostgreSQL</li>
            <li>Elasticsearch</li>
          </ul>
        </div>
        <div>
          <h2>Design</h2>
          <ul>
            <li>Figma</li>
            <li>Sketch</li>
            <li>Invision</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>

