@import 'variables';
@import 'mixins';

.intro {
  position: relative;
  width: 75%;
  margin: 50px auto;
  padding: 50px;
  background: var(--color-primary);
  color: white;
  box-shadow: var(--shadow);

  &:after {
    @include tilted-background();
  }

  h1 {
    margin: 0;
    font-size: 5rem;
    font-weight: var(--weight-heavy);
  }

  p {
    font-size: 2.5rem;
    font-weight: var(--weight-light);
    color: #e5e5e5;
  }

  a {
    display: block;
    text-decoration: none;
    font-family: var(--font-marker);
    font-size: 2rem;
    font-weight: var(--weight-light);
    transition: 0.2s;

    &.btn {
      display: inline-block;
      margin: 0 5px;
      padding: 5px 15px;
      background: transparent;
      color: white;
      border: 1px solid var(--color-tertiary);
      border-radius: 500px;
      transition: 0.2s;

      &:hover {
        background: white;
        color: var(--color-primary);
        border-color: white;
      }
    }
  }
}

@media (max-width: 600px) {
  .intro {
    width: 100%;
    padding: 40px;
    margin: 20px auto;
    background: white;
    color: var(--color-primary);
    box-shadow: none;

    &:after {
      content: none;
    }

    h1 {
      font-size: 3rem;

    }

    p,
    a {
      color: var(--color-primary);
    }

    a.btn {
      background: var(--color-primary);
      color: white;
      border-color: var(--color-primary);
      box-shadow: var(--shadow);

      &:hover {
        background: white;
        color: var(--color-primary);
        border-color: var(--color-tertiary);
      }
    }
  }
}
