@import 'variables';
@import 'mixins';

.intro {
  position: relative;
  width: 75%;
  margin: 50px auto;
  padding: 50px;
  background: var(--color-primary);
  color: white;
  box-shadow: var(--shadow);

  &:after {
    @include tilted-background();
  }

  h1 {
    margin: 0;
    font-size: 5rem;
    font-weight: var(--weight-heavy);
  }

  p {
    font-size: 2.5rem;
    font-weight: var(--weight-light);
    color: #e5e5e5;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
  }
}
