<main>
  <section class="intro">
    <h1>
      Hey! I'm Tyler Burkhardt
    </h1>
    <p>
      I have a passion for <span class="hl">web application development</span>,
      and enjoy building everything from small business sites to rich,
      interactive web apps. If you are a <span class="hl">business seeking a web presence</span>,
      or an <span class="hl">employer looking to hire</span>, let's get in touch.
    </p>
    <i class="fa fa-paper-plane">&nbsp;&nbsp;</i><span class="hl"><a href="mailto:tylerburkhardt4@gmail.com">Want to chat?</a></span>
  </section>
</main>
