@import 'variables';

@mixin tilted-background() {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-brand);
  box-shadow: var(--shadow);
  z-index: -1;
  transform: rotate(4deg);
}
