@import 'variables';

.osx {
  width: 100%;
  box-shadow: var(--shadow);

  .osx-header {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-radius: 5px 5px 0 0;
    background: #e5e5e5;

    .dot {
      margin: 0 3px;
      height: 11px;
      width: 11px;
      border-radius: 11px;

      &.close {
        background: #ff5c5c;
      }

      &.minimize {
        background: #ffbd4c;
      }

      &.expand {
        background: #00ca56;
      }
    }
  }

  .osx-body {
    height: 450px;
    overflow-y: scroll;
    padding: 25px 50px;
    border-radius: 0 0 5px 5px;
    background: var(--color-primary);
    font-family: var(--font-code);

    h2 {
      margin: 0;
      font-size: 2rem;
    }

    ul {
      padding: 0;
      list-style-type: square;

      li {
        font-size: 1.5rem;
        color: white;
      }
    }
  }
}
