:root {

  // color
  //--color-brand: hsl(269, 80%, 55%);
  --color-brand: hsl(32, 98%, 56%);
  --color-accent: hsl(32, 98%, 56%);
  --color-primary: hsl(0, 0%, 13%);
  --color-secondary: hsl(0, 0%, 29%);
  --color-tertiary: hsl(0, 0%, 65%);
  --color-subtle: hsl(0, 0%, 90%);

  --monokai-red: #F92672;
  --monokai-blue: #66D9EF;
  --monokai-green: #A6E22E;
  --monokai-orange: #FD971F;

  // typography
  --font-primary: 'Lato', sans-serif;
  --font-code: 'Inconsolata', monospace;

  // font weight
  --weight-heavy: 700;
  --weight-light: 300;

  // shadow
  --shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

  // headers
  --header-size: 5rem;
  --header-font: var(--font-primary);
  --header-align: center;
}
