@import 'variables';

.hash-container {
  position: relative;
  height: 100px;

  i {
    position: absolute;
    top: 2rem;
    left: 0;
    padding-right: 2rem;
    color: var(--color-subtle);
  }

  h2 {
    position: absolute;
    left: 4rem;
    margin: 2rem 0;
    display: inline-block;
    font-size: 4rem;
    font-style: italic;
  }
}

.project {

  & > a {
    text-decoration: none;
  }

  h3 {
    margin: 0;
    font-size: 3rem;
    color: var(--color-brand);
  }

  .stack {
    display: block;
    font-size: 2rem;
    font-weight: var(--weight-light);
    color: var(--color-secondary);
  }

  .source {
    font-size: 1.8rem;
    font-weight: var(--weight-light);
    color: var(--color-tertiary);
    text-decoration: none;
  }

  .description {
    font-size: 1.8rem;
  }
}
