@import 'variables';

.hash-container {

  i {
    position: relative;
    top: -1rem;
    padding-right: 1rem;
    color: var(--color-subtle);
  }

  h2 {
    display: inline-block;
    margin: 2rem 0;
    font-size: 4rem;
    font-style: italic;
  }
}

.project {

  & > a {
    text-decoration: none;
  }

  h3 {
    margin: 0;
    font-size: 3rem;
    color: var(--color-brand);
  }

  .stack {
    display: block;
    font-size: 1.8rem;
    font-weight: var(--weight-light);
    color: var(--color-primary);
  }

  .source {
    font-size: 1.8rem;
    font-weight: var(--weight-light);
    color: var(--color-tertiary);
    text-decoration: none;
  }

  .description {
    font-size: 1.8rem;
    color: var(--color-secondary);
  }
}

@media (max-width: 600px) {
  .hash-container {
    i {
      display: none;
    }
  }

  .project {
    h3 {
      font-size: 2.5rem;
    }
  }
}
