<main>
  <header>
    <div class="title-container">
      <h1 class="page-title">Projects</h1>
    </div>
  </header>
  <section>
    <!-- wsecu -->
    <div class="project">
      <div class="hash-container">
        <span class="bar"></span>
        <h2>WSECU</h2>
      </div>
      <ul class="stack">
        <li class="stack__item">AngularJS</li>
        <li class="stack__item">Typescript</li>
        <li class="stack__item">Bootstrap</li>
      </ul>
      <div class="award">
        <i class="star fa fa-star fa-2x"></i>
        <em class="brag">2019 CUNA Technology Excellence Award</em>
      </div>
      <div class="osx">
        <div class="osx-header osx-header--dark">
          <div class="dot close"></div>
          <div class="dot minimize"></div>
          <div class="dot expand"></div>
        </div>
        <div class="app">
          <img src="assets/wsecu/prequal.png" alt="">
          <!--<img src="assets/wsecu/customize-loan.png" alt="">
          <img src="assets/wsecu/choose-card.png" alt="">-->
        </div>
      </div>
    </div>
    <!-- artichoke -->
    <div class="project">
      <div class="hash-container">
        <span class="bar"></span>
        <h2>Artichoke</h2>
      </div>
      <ul class="stack">
        <li class="stack__item">React</li>
        <li class="stack__item">MobX</li>
        <li class="stack__item">Node.js</li>
        <li class="stack__item">Express.js</li>
        <li class="stack__item">PostgreSQL</li>
        <li class="stack__item">Knex.js</li>
      </ul>
      <div class="osx">
        <div class="osx-header osx-header--dark">
          <div class="dot close"></div>
          <div class="dot minimize"></div>
          <div class="dot expand"></div>
        </div>
        <div class="app">
          <img src="assets/artichoke/profile-skills.png" alt="">
          <!--<img src="assets/artichoke/skills.png" alt="">
          <img src="assets/artichoke/similarity.png" alt="">-->
        </div>
      </div>
    </div>
    <!-- harbor -->
    <div class="project">
      <div class="hash-container">
        <span class="bar"></span>
        <h2>Harbor Wholesale Foods</h2>
      </div>
      <ul class="stack">
        <li class="stack__item">Ionic</li>
        <li class="stack__item">Angular</li>
        <li class="stack__item">Typescript</li>
        <li class="stack__item">NgRx</li>
        <li class="stack__item">RxJs</li>
      </ul>
      <div class="phones">
        <div class="phone">
          <img src="assets/harbor/soda.png" alt="">
        </div>
        <div class="phone">
          <img src="assets/harbor/gum.png" alt="">
        </div>
        <div class="phone">
          <img src="assets/harbor/add-to-cart.png" alt="">
        </div>
      </div>
    </div>
    <!-- profitbricks -->
   <div class="project">
      <div class="hash-container">
        <span class="bar"></span>
        <h2>Profitbricks</h2>
      </div>
      <ul class="stack">
        <li class="stack__item">Angular</li>
        <li class="stack__item">Typescript</li>
        <li class="stack__item">Angular Material</li>
        <li class="stack__item">Django</li>
        <li class="stack__item">Redis</li>
      </ul>
      <div class="osx">
        <div class="osx-header osx-header--dark">
          <div class="dot close"></div>
          <div class="dot minimize"></div>
          <div class="dot expand"></div>
        </div>
        <div class="app">
          <img src="assets/profitbricks/add-contract.png" alt="">
          <!--<img src="assets/profitbricks/login.png" alt="">
          <img src="assets/profitbricks/contracts.png" alt="">-->
        </div>
      </div>
    </div>
  </section>
</main>
