<main>
  <header>
    <div class="title-container">
      <h1 class="page-title">Projects</h1>
    </div>
  </header>
  <section>
    <div class="hash-container">
      <i class="fa fa-hashtag fa-4x"></i>
      <h2>Web Applications</h2>
    </div>
    <div class="project">
      <h3>Tyler Burkhardt's Portfolio</h3>
      <span class="stack">
        Angular, Sass
      </span>
      <a class="source" href="https://github.com/tjb1019/tjb1019.github.io/tree/dev" target="_blank">
        <i class="fa fa-github">&nbsp;</i>Source
      </a>
      <p class="description">
        You're here now! Check out
        the source code to see how it was built.
        Hosted with GitHub Pages 🤙
      </p>
    </div>
    <div class="project">
      <a href="http://sullivansheritagebbq.com/" target="_blank">
        <h3>Sullivan's Heritage BBQ</h3>
      </a>
      <span class="stack">
        Angular, Sass
      </span>
      <a class="source" href="https://github.com/redsullivan/redsullivan.github.io/tree/dev" target="_blank">
        <i class="fa fa-github">&nbsp;</i>Source
      </a>
      <p class="description">
        This is a website I built for my Uncle's barbeque restaurant.
        It is a static application built with Angular 4 and Sass.
        It is hosted for free on GitHub Pages.  Thanks GitHub!
      </p>
    </div>
    <div class="project">
      <a href="https://www.streambox.com/" target="_blank">
        <h3>Streambox</h3>
      </a>
      <span class="stack">
        Wordpress
      </span>
      <p class="description">
        In 2015 I was contracted to build Streambox, Inc's
        website.  It was built with the Wordpress CMS,
        and hosted on AWS.
      </p>
    </div>
  </section>
  <section>
    <div class="hash-container">
      <i class="fa fa-hashtag fa-4x"></i>
      <h2>Software</h2>
    </div>
    <div class="project">
      <h3>1&amp;1 Cloud Server Ruby SDK</h3>
      <span class="stack">
        Ruby
      </span>
      <a class="source" href="https://github.com/1and1/oneandone-cloudserver-sdk-ruby" target="_blank">
        <i class="fa fa-github">&nbsp;</i>Source
      </a>
      <p class="description">
        The Ruby Client Library wraps the latest version of
        the 1&amp;1 REST API. All API operations are performed
        over SSL and authenticated using your 1&amp;1 API Token.
        The API can be accessed within an instance running in
        1&amp;1 or directly over the Internet from any application
        that can send an HTTPS request and receive an HTTPS response.
      </p>
    </div>
    <div class="project">
      <h3>1&amp;1 Cloud Server Python SDK</h3>
      <span class="stack">
        Python
      </span>
      <a class="source" href="https://github.com/1and1/oneandone-cloudserver-sdk-python" target="_blank">
        <i class="fa fa-github">&nbsp;</i>Source
      </a>
      <p class="description">
        The Python Client Library wraps the latest version of
        the 1&amp;1 REST API. All API operations are performed
        over SSL and authenticated using your 1&amp;1 API Token.
        The API can be accessed within an instance running in
        1&amp;1 or directly over the Internet from any application
        that can send an HTTPS request and receive an HTTPS response.
      </p>
    </div>
  </section>
  <section>
    <div class="hash-container">
      <i class="fa fa-hashtag fa-4x"></i>
      <h2>Open Source Contributions</h2>
    </div>
    <div class="project">
      <h3>Google Perfkit Benchmarker</h3>
      <span class="stack">
        Python
      </span>
      <a class="source" href="https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/tree/master/perfkitbenchmarker/providers/profitbricks" target="_blank">
        <i class="fa fa-github">&nbsp;</i>Source
      </a>
      <p class="description">
        PerfKit Benchmarker is an open effort to define a canonical
        set of benchmarks to measure and compare cloud offerings. It's designed
        to operate via vendor provided command line tools.

        My contribution to this project allows users to run benchmarks against
        the ProfitBricks cloud provider.
      </p>
    </div>
    <div class="project">
      <h3>Flocker Volume Driver</h3>
      <span class="stack">
        Python
      </span>
      <a class="source" href="https://github.com/profitbricks/profitbricks-flocker-driver" target="_blank">
        <i class="fa fa-github">&nbsp;</i>Source
      </a>
      <p class="description">
        Flocker is an open-source container data volume manager for your
        Dockerized applications. Unlike a Docker data volume which is tied
        to a single server, a Flocker data volume, called a dataset, is
        portable and can be used with any container in your cluster.

        My contribution to this project allows users to deploy Flocker with
        a ProfitBricks backend.
      </p>
    </div>
    <div class="project">
      <h3>Fog</h3>
      <span class="stack">
        Ruby
      </span>
      <a class="source" href="https://github.com/1and1/fog-oneandone" target="_blank">
        <i class="fa fa-github">&nbsp;</i>Source
      </a>
      <p class="description">
        Fog is an open-source, community Ruby library used for interacting
        with popular cloud infrastructure providers through a single, unified API.

        My contribution to this project allows users to use Fog with the
        1&amp;1 cloud provider.
      </p>
    </div>
    <div class="project">
      <h3>Rancher Convoy Driver</h3>
      <span class="stack">
        Go
      </span>
      <a class="source" href="https://github.com/StackPointCloud/convoy/tree/master/profitbricks" target="_blank">
        <i class="fa fa-github">&nbsp;</i>Source
      </a>
      <p class="description">
        Convoy is a Docker volume plugin for a variety of storage back-ends.
        Using Convoy allows users to persist data across hosts and Docker
        containers.

        My contribution to this project allows users to use Convoy with a
        ProfitBricks backend.
      </p>
    </div>
  </section>
</main>
