<nav>
  <i class="burger fa fa-bars fa-3x" (click)="toggleNav()"></i>
  <h1>Tyler Burkhardt</h1>
  <p>Full-Stack Web Developer</p>
  <a class="logo" routerLink="/">
    <img (click)="locationService.activeRoute=null" src="assets/images/wine-tasting.jpg" alt="Tyler Burkhardt Headshot">
  </a>
  <ul class="nav-items">
    <li class="nav-item" *ngFor="let route of routes">
      <a routerLink="{{ route.path }}"
         (click)="locationService.activeRoute = route"
         [class.active]="route == locationService.activeRoute">
        {{ route.name }}
      </a>
    </li>
  </ul>
  <ul class="social-items">
    <li class="social-item">
      <a href="https://github.com/tjb1019" target="_blank">
        <i class="fa fa-3x fa-github"></i>
      </a>
    </li>
    <li class="social-item">
      <a href="https://www.linkedin.com/in/tjb1019" target="_blank">
        <i class="fa fa-3x fa-linkedin"></i>
      </a>
    </li>
    <li class="social-item">
      <a href="https://twitter.com/tjb1019" target="_blank">
        <i class="fa fa-3x fa-twitter"></i>
      </a>
    </li>
    <li class="social-item">
      <a href="https://medium.com/@tjb1019" target="_blank">
        <i class="fa fa-3x fa-medium"></i>
      </a>
    </li>
  </ul>
</nav>
