@import 'variables';

nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  color: white;
  border-top: 8px solid var(--color-brand);
  box-shadow: 4px 0 6px hsla(0, 0%, 0%, 0.2);
  animation: slideInLeft 1s;

  // burger icon
  .burger {
    display: none;
  }

  // name
  h1 {
    font-size: 3rem;
    margin-bottom: 5px;
  }

  // job description
  p {
    font-size: 1.5rem;
    margin: 0;
    color: var(--color-accent);
  }

  // headshot
  .logo img {
    margin: 30px 0;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    border-radius: 50%;
  }

  // nav items
  .nav-items {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    border-top: 1px solid hsla(0, 0%, 0%, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    font-size: 2.2rem;
    text-transform: uppercase;

    // nav item
    .nav-item {
      text-align: center;
      border-top: 1px solid rgba(255, 255, 255, 0.04);
      border-bottom: 1px solid hsla(0, 0%, 0%, 0.3);

      a {
        display: block;
        padding: 5px 0;
        color: inherit;
        text-decoration: inherit;
        transition: 0.25s;

        &:hover,
        &.active {
          background: var(--color-brand);
        }
      }
    }
  }

  // social items
  .social-items {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;

    .social-item {
      width: 25%;
      padding: 10px;
      text-align: center;
      transition: 0.25s;

      a {
        color: inherit;
        text-decoration: inherit;

        &:hover i {
          color: var(--color-brand);
          transform: scale(1.2);
        }

        i {
          transition: 0.25s;
        }
      }
    }
  }
}

@media (min-width: 1001px) {
  .nav-items {
    display: block;
  }
}

@media (max-width: 1000px) {
  nav {
    position: relative;
    height: 75px;
    width: 100%;
    padding-left: 20px;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
    flex-direction: row;

    // menu icon
    .burger {
      display: inline-block;
      color: var(--color-tertiary);
      transition: 0.2s;

      &:hover {
        cursor: pointer;
        color: white;
      }
    }

    // nav items on mobile/tablet
    .nav-items {
      display: none;
      position: absolute;
      top: 66px;
      left: 0;
      animation: fadeIn 0.3s;

      .nav-item {
        background: var(--color-primary);
      }
    }

    // hide name, occupation, picture, social links
    h1,
    p,
    .logo,
    .social-items {
      display: none;
    }
  }
}
