@import 'variables';
@import 'mixins';
@import 'animations';
@import 'utilities';
@import 'osx';

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5;
}

main {
  margin-left: 300px;
  padding-bottom: 25px;
  animation: fadeIn 0.5s;
}

section {
  padding: 0 100px;
}

header {
  display: flex;
  justify-content: center;

  .title-container {
    position: relative;
    display: inline-block;
    margin: 40px auto;
    padding: 10px 25px;
    background: var(--color-primary);
    color: white;

    &:after {
      @include tilted-background();
    }

    h1 {
      display: inline-block;
      margin: 0;
      font-size: var(--header-size);
      font-family: var(--header-font);

      &.page-title {
        text-align: var(--header-align);
      }
    }
  }
}

// tablet
@media (max-width: 1100px) {
  section {
    padding: 0 50px;
  }
}

@media (max-width: 1000px) {
  main {
    margin-left: 0;
  }

  section {
    padding: 0 100px;
  }
}

// mobile
@media (max-width: 600px) {
  main {
    font-size: 1.6rem;
  }

  section {
    padding: 0 20px;
  }
}
