<main>
  <header>
    <div class="title-container">
      <h1 class="page-title">Experience</h1>
    </div>
  </header>
  <section>
    <div class="osx">
      <div class="osx-header">
        <div class="dot close"></div>
        <div class="dot minimize"></div>
        <div class="dot expand"></div>
      </div>
      <div class="osx-body">
        <div class="job">
          <h2 class="job-title">Junior Software Developer</h2>
        <div class="company">StackPointCloud, Inc. - Seattle, WA</div>
        <span class="duration">OCTOBER 2015 - PRESENT</span>
        <ul>
          <li>Develop custom software for cloud business customers</li>
          <li>Build applications from design phase to production release</li>
          <li>Design and run automated tests</li>
          <li>Identify, report, and fix bugs on web/software projects</li>
          <li>Assist with management of production and staging environments</li>
          <li>Research and evaluate various technologies</li>
          <li>Design technical solutions while also keeping the business vision in mind</li>
        </ul>
        </div>
        <div class="job">
          <h2 class="job-title">Web Developer</h2>
          <div class="company">Streambox, Inc. - Seattle, WA</div>
          <span class="duration">JULY 2015 - OCTOBER 2015</span>
          <ul>
            <li>Contracted to rebuild Streambox, Inc's website</li>
            <li>Built with Wordpress CMS</li>
            <li>Communicate with design team</li>
          </ul>
        </div>
        <div class="job">
          <h2 class="job-title">Customs Broker &amp; Logistics Coordinator</h2>
          <div class="company">OHL International - Philadelphia, PA</div>
          <span class="duration">JANUARY 2011 - JUNE 2014</span>
          <ul>
            <li>Receives, organizes, and processes import documentation for US Customs entry purposes</li>
            <li>Ensures customs compliance for shipments entering the United States by maintaining a working knowledge of current HTS classifications</li>
            <li>Coordinates the inland delivery of foreign cargo from port of discharge to final destination</li>
            <li>Generates invoices to bill clients for provided services</li>
            <li>Acting team supervisor when primary supervisor is out of office</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
